input { 
    display : flex;
    height: 17px;
    margin-right: 10px;
    font-size: 9px; 
    width: 150px;
    border-width: 0.01em;
  }
  
  // button {
  //   display : flex;
  //   align-items: center;
  //   border-width: 0.01em;
  //   border-style: solid;
  //   border-radius: 0.05em;
  //   background-color: transparent;
  //   margin-left: 6px;
  //   height: 20px;
  // }
  
  // img {
  //   height: 13px;
  //   width: 13px;
  // }


// .wrapper{
//     margin-left: 160px;
//     display: flex
// }

// input { 
//     display : flex;
//     align-items: center;
//     justify-content: center;
//     text-align: left;
//     vertical-align: middle;
//     margin-right: 2px;
//     height: 17px;
//     font-size: 9px; 
//     width: 190px;
//     border-width: 0.01em;
// }

//  button {
//     display : flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0;
//     border-width: 0.01em;
//     border-style: solid;
//     border-radius: 0.05em;
//     background-color: transparent;
// }

// img {
//     display : flex;
//     align-items: center;
//     justify-content: center;
//     height: 13px;
//     width: 13px;
// }
