<!-- <input  type="text" 
        placeholder="{{placeholder}}" 
        name="search" 
        [(ngModel)]="searchText" 
        (input)="handleChange()">

        <input  type="text" 
        placeholder="{{placeholder}}" 
        name="search" 
        [(ngModel)]="searchText" 
        (input)="handleChange()"> -->


                <mat-form-field class="example-full-width">
                  <input matInput type="text" 
                  placeholder="{{placeholder}}" 
                  name="search" 
                  [(ngModel)]="searchText" 
                  (input)="handleChange()">
                </mat-form-field>
