button {
    width: 230px;
}

.btn-outline-secondary{
    width: 250px;
}

a{
    margin-top: auto;
    margin-bottom: 22PX;
    margin-left: 20PX;
}
app-search-bar-cap{    
    margin-top: auto;
    margin-bottom: 8PX;
    margin-left: 8PX;
    margin-right: 12px;
}
.label{
    margin-bottom: 18PX;
}

label{
    margin-top: 12px;
    color: white;
    font-weight: normal;
}

.box {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    width:100%;
    margin-top: auto;
    margin-bottom: 22PX;
    margin-left: 20PX;
}
  
// #center {
//     overflow: scroll;
// }

.header{
    height: 40PX;
    width: 100%; 
    font-size: 20px;
    background-color: white;
}
p{
    display: table-cell; 
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    color: rgb(59, 108, 182);
    font-family: Arial, Helvetica, sans-serif;
}
.logo-cap-left{
    display: table-cell; 
    vertical-align: middle;
    height : 100%;
    width : auto;
    margin-right: 5px;
}

@media (max-width : 1000px) {
    .box {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }    
}

