<button (click)="getSelectedRows()">Afficher les lignes selectionnées</button>
<button (click)="Resize()">Resize les colonnes</button>
<button (click)="HideModel()" *ngIf="hide === false">Cacher l'ID et la Date</button>
<button (click)="ShowModel()" *ngIf= "hide === true">Afficher l'ID et la Date</button>

<ag-grid-angular
  #agGrid
  style="width: 1500px; height:500px"
  class="ag-theme-alpine"
  [groupSelectsChildren]=true
  [autoGroupColumnDef]="autoGroupColumnDef"
  [rowData]="rowData  | async"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  rowSelection="multiple"
  ></ag-grid-angular>